.hover-btn:hover{
  transform: scale(1.1);
}
.animate__reveal{
  animation: reveal both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
@keyframes reveal {
  0%{
    opacity: 0;
    transform: translateY(70px);
  }
  100%{
    opacity: 100%;
    transform: translateY(0);
  }
}