
.animate__wobble {
  --animate-duration: 3s;
}
.animate__saludo {
  animation: saludo 0.8s,
             zoomOutLeft 2s infinite 0.8s alternate
}

@keyframes saludo {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(20deg); }
  50%  { transform: rotate(-20deg); }
  75%  { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}