---
---
<!--<section class="my-6">-->
  <!-- Título -->
<!--  <div class="flex items-center justify-between mb-3">-->
<!--    <h3 class="text-white font-bold text-base animate__animated animate__fadeInLeft">-->
<!--      Categorías-->
<!--    </h3>-->
<!--    <div class="text-gray-400 font-semibold text-sm">Explorar</div>-->
<!--  </div>-->

  <!-- Fila de categorías -->
<!--  <div aria-label="Categorías" class="flex gap-3 overflow-x-auto pb-2 snap-x snap-mandatory">-->
    <!-- Card -->
<!--    <div class="min-w-[150px] bg-white rounded-lg border border-black/5 p-3 shadow-md flex flex-col items-center gap-2 transition hover:-translate-y-1 hover:shadow-lg animate__animated animate__fadeInUp snap-start">-->
<!--      <div class="h-[80px] w-full rounded-md bg-gradient-to-b from-gray-100 to-white flex items-center justify-center text-gray-400 font-bold">-->
<!--        Icon-->
<!--      </div>-->
<!--      <div class="text-sm font-bold text-[#071029]">Electrónica</div>-->
<!--    </div>-->

<!--    <div class="min-w-[150px] bg-white rounded-lg border border-black/5 p-3 shadow-md flex flex-col items-center gap-2 transition hover:-translate-y-1 hover:shadow-lg animate__animated animate__fadeInUp snap-start">-->
<!--      <div class="h-[80px] w-full rounded-md bg-gradient-to-b from-gray-100 to-white flex items-center justify-center text-gray-400 font-bold">-->
<!--        Icon-->
<!--      </div>-->
<!--      <div class="text-sm font-bold text-[#071029]">Hogar</div>-->
<!--    </div>-->

<!--    <div class="min-w-[150px] bg-white rounded-lg border border-black/5 p-3 shadow-md flex flex-col items-center gap-2 transition hover:-translate-y-1 hover:shadow-lg animate__animated animate__fadeInUp snap-start">-->
<!--      <div class="h-[80px] w-full rounded-md bg-gradient-to-b from-gray-100 to-white flex items-center justify-center text-gray-400 font-bold">-->
<!--        Icon-->
<!--      </div>-->
<!--      <div class="text-sm font-bold text-[#071029]">Moda</div>-->
<!--    </div>-->

<!--    <div class="min-w-[150px] bg-white rounded-lg border border-black/5 p-3 shadow-md flex flex-col items-center gap-2 transition hover:-translate-y-1 hover:shadow-lg animate__animated animate__fadeInUp snap-start">-->
<!--      <div class="h-[80px] w-full rounded-md bg-gradient-to-b from-gray-100 to-white flex items-center justify-center text-gray-400 font-bold">-->
<!--        Icon-->
<!--      </div>-->
<!--      <div class="text-sm font-bold text-[#071029]">Deporte</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->