---
---
<footer class="text-center py-7 text-gray-400 text-sm animate__animated animate__fadeInUp">
  © 2026 <span class="font-bold text-white">NeoMarket</span> — 
  <span class="text-orange-500 font-semibold">Azul oscuro y naranja</span>
</footer>