---
---
<footer class="text-center py-7 text-gray-400 text-sm animate__animated animate__fadeInUp">
  © 2026 <span class="font-extrabold text-xl text-white font-text">MarketZone</span> — 
  <span class="text-watermeleon font-semibold">Tu vida,tu elección</span>
</footer>
<style>
  .font-text{
    font-family: "BonheurRoyale", Sans-Serif;
  }
</style>