---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<section class="h-screen w-full bg-slate-700 grid place-content-center">
  <div class="w-40 h-40 bg-white rounded-2xl animate__animated animate__saludo animate__infinite">
    
  </div>
</section>