---
const {title} = Astro.props;
import '../styles/global.css';
import '../styles/animate.css';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="font-inter bg-white/80 text-watermeleon overflow-x-hidden">
    <slot />
    <script src="/js/main.js" type="module"></script>
    <script type="module" src="/js/menu.js"></script>
    <script type="module" src="/js/productos.js"></script>
  </body>
</html>
<style>
  *{
    box-sizing: border-box;
  }
</style>