<div class="flex flex-col items-center justify-center gap-10 w-screen h-screen bg-white/80 overflow-y-hidden">
  <h1 class="text-3xl font-semibold text-watermeleon animate__animated animate__hinge">
    Aún no hay ofertas
  </h1>
  <h1 class="text-2xl font-semibold text-watermeleon animate__animated animate__zoomInDown animate__delay-3s">
    Aún no hay ofertas 😓
  </h1>
</div>

<a
  href="/"
  class="fixed bottom-4 left-4 px-4 py-2 bg-pink text-white rounded-lg shadow-lg animate__animated animate__fadeInUp regresar-btn"
>
  Regresar
</b>

<style>
  .regresar-btn:hover {
    background-color: var(--pink-shadow); 
    color: rgba(255,255,255,0.7);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
</style>